.app {
  /* max-width: 80rem; */
  /* background-color: #f8f8f8; */
  background-color: white;
}

.content {
  display: grid;
  grid-template-columns: 12% 88%;
}

.content.conList {
  display: list-item;
}

.nav {
  display: block;
}

.nav.none {
  display: none;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
  background-color: #f8f8f8;
}

/* 반응형 구현 */
@media screen and (max-width: 48rem) {
  .content {
    flex-direction: column;
  }
}
@media screen and (max-width: 1329px) {
  .content {
    grid-template-columns: 8% 92%;
  }
}
